/* Custom Variables*/
/** Main */
body {
  background: #fff;
  margin: 0;
  font-family: "Lato", sans-serif;
  color: #000000; }

.container {
  width: 100%;
  min-width: 1060px;
  margin: 145px auto; }
  .container .author {
    color: #b4b4b4; }
  .container .page-title {
    font-family: "Shrikhand", cursive;
    color: #2a2a2a; }
  .container .page-subtitle {
    font-family: "Shrikhand", cursive;
    color: #8f8f8f; }
  .container .page-content p {
    margin-top: 0;
    margin-bottom: 30px; }
